* {
  margin: 0;
  box-sizing: border-box;
  font-family: arial;
}
body {
  padding-bottom: 1000;
  background-color: rgb(255, 255, 255);
}
#video {
  position: relative;
  width: 100%;
  padding: 5% 0 0 0;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
header .logo {
  position: relative;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: xx-large;
  text-decoration: none;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  list-style: none;
}
header ul li a {
  display: inline-block;
  color: rgb(255, 255, 255);
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;  
}
.container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,auto));
  margin:5em 50px;
}
.main {
  width: 360px;
  margin: 2rem auto;
  height: 560px;
  box-shadow: 3px 3px 10px rgba(rgb(0, 0, 31));
  border-radius: 50px ;
  overflow: hidden;
  image-rendering: 2rem auto;
  
  

}
.img  {
  height: 250px;
  overflow: hidden;
  
 
 
}
.main .img img{
  width: 100%;
}
.content {
  text-align: center;
  border-bottom: 2px solid #e5e5e5;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  
  background-color: white;
  padding: 10px;
}
.center {
  position: center;

}
.content h1{
  margin: 1rem 0;
}
.content p{
  color: #9f9f9f;
}
.price{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px
} 
.ft-l {
  display: flex ;
  align-items:center;
  padding-left: 2rem;
}
.ft-l p{
  margin: left 0.5rem; 
  position: static;
}
.ft-r {
  display: flex ;
  align-items:center;
  padding-left: 2rem;
}
.ft-r p{
  margin: right 0.5rem ;
  position: static;
}
